/* ~~~~~~~~~~~~~GENERAL STYLES~~~~~~~~~~~~~ */
html {
	width: 100%;	
	height: 100%;
	margin: 0;
}

head {
	
	width: 100%;
	height: 100%;

}

body {
	
	overflow:hidden;
	width: 100%;
	height: 100%;
}

p {
	color: #004f3f;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}

label {
	color: #004f3f;
	font-size: 14px;
	margin-top: 10px;
}

#map {
	max-width: 98%;
	width: 68%;
	height: 100%;
	
}

#toggle{
position: fixed;
right: 0;
bottom: 0;

}

#legend {
height: 100%;
width: 30%;
position: fixed;
right: 0;
bottom: 0;
border: 3px solid #73AD21;
background: white;
}
